@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
*{
    font-family: 'cwTeXHei', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
body>*{
    width: 720px;
    margin: 0 auto;
}
header {
    background-position-y:33%; 
    padding: 20px 0 0 0;
    width: 100vw;
    height: calc(100vh/2);
/*    position:relative;*/
}
header h1{
/*    position:absolute;*/
    text-align: center;
    display: block;
    margin-top: 17vh;
/*    left: calc(100vw/2);*/
}
header a {
    color: white;
    text-decoration: none;
}
footer{
    background: #000;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/**
inspired by https://codepen.io/philhoyt/pen/ujHzd
*/

nav
{
	margin-top:15px;
    display: block;
}

nav ul
{
	list-style:none;
	position:relative;
	display: inline-block;
	margin:0;
	padding:0
}

nav ul a,
nav ul span
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:2em;
	padding:0 15px;
}

nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

nav ul li.current-menu-item
{
	background:#ddd
}

nav ul li:hover
{
	background:#f6f6f6
}

nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

nav ul ul li
{
	float:none;
	width:200px
}

nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

nav ul li:hover > ul
{
	display:block;
    z-index: 1;
}

/*
inspired by https://codepen.io/palimadra/pen/lKgDd
*/
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

#transfer-url-to-trelolo {
    position: relative;
/*    background: #eee;*/
    text-align: center;
    padding: 40px 0;
}
#transfer-url-to-trelolo::before{
    background: #eee;
    width: 100vw;
    height: 100%;
    content: " ";
    display:block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc((100% - 100vw)/2);
}

#transfer-url-to-trelolo input{
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto 10px;
    
}
.url-to-trelolo{
    background: #eee;
}