<!doctype html>
<html lang="zh-hant"  ng-app="page">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">

    home_boardID = "XAL44x7M";
    window.isElseBoardAvailable = 1;

  </script>
  <meta charset="UTF-8">
  <title>Trelolo.com</title>
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/angular-sidebarjs.css">
  <script src="https://code.angularjs.org/snapshot/angular.js"></script>
  <script src="https://code.angularjs.org/snapshot/angular-sanitize.js"></script>
  <script src="https://cdn.rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
  <script src="/js/angular-sidebarjs.js"></script>
  <meta name="description" content="Trelolo 是一個把你的 Trello 公開板轉成網站的服務">
  <meta property="og:url" content="https://trelolo.com" />
  <meta property="og:title" content="Trelolo.com" />
  <meta property="og:description" content="Trelolo 是一個把你的 Trello 公開板轉成網站的服務" />
  <meta property="og:type" content="website" />
  <meta property="og:image"  content="https://trello-attachments.s3.amazonaws.com/59b540d5052fbb94cdffdb6c/59b540e1d39e13730087c785/e41981b38c7f06c0c5667c10bd5b16dc/images.jpg" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  if(location.host == 'trelolo.com'){
    ga('create', 'UA-106608292-1', 'auto');
  }

</script>
</head>

<body  ng-controller="MgCtrl as ctl">


<header style="background-image: url({{bgImage}});-webkit-background-size: cover;background-color: {{bgColor}};background-position-y: {{header_bg_top}}px;">
    <h1><a style="color: {{bgTextColor}};" href="/b/{{boardID}}">{{myData.name}}</a></h1>
    <div class="hamburger" sidebarjs-toggle>
      <div></div>
    </div>
    <div ng-if="is_error">
      噢喔，你的看板似乎有些問題。<br/>
      如果你的來源是其他人提供的連結，請詢問連結提供者。<br/>
      如果你用的是自己的看版，請確認權限已設成「公開」。<br/>
      如果你仍找不到問題，請<a href="https://github.com/junsuwhy/trelolo.com/issues/new" target="_blank">向我們提問</a>，並註明發生問題的網址，我們將協助檢查。<br/>
      謝謝
    </div>
</header>

<sidebarjs>
  <nav>
      <ul>
          <li ng-repeat="parent in menu">
              <span ng-if="parent.url=='#'">
                  {{parent.title}}
              </span>
              <a href="{{parent.url}}" ng-click="changeContent($event)" ng-if="parent.url!='#' && parent.url.substr(0,4) != 'http'">
              {{parent.title}}
              </a>
              <a href="{{parent.url}}" target="_blank" ng-if="parent.url!='#' && parent.url.substr(0,4) == 'http'">
              {{parent.title}}
              </a>
              <ul>
                  <li ng-repeat="child in parent.children">
                      <span ng-if="child.url=='#'">
                          {{child.title}}
                      </span>
                      <a href="{{child.url}}" ng-click="changeContent($event)" ng-if="child.url != '#' && child.url.substr(0,4) != 'http'">{{child.title}}</a>
                      <a href="{{child.url}}" target="_blank" ng-if="child.url.substr(0,4) == 'http'">{{child.title}}</a>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>
</sidebarjs>

<nav>
    <ul>
        <li ng-repeat="parent in menu">
            <span ng-if="parent.url=='#'">
                {{parent.title}}
            </span>
            <a href="{{parent.url}}" ng-click="changeContent($event)" ng-if="parent.url!='#' && parent.url.substr(0,4) != 'http'">
            {{parent.title}}
            </a>
            <a href="{{parent.url}}" target="_blank" ng-if="parent.url!='#' && parent.url.substr(0,4) == 'http'">
            {{parent.title}}
            </a>
            <ul>
                <li ng-repeat="child in parent.children">
                    <span ng-if="child.url=='#'">
                        {{child.title}}
                    </span>
                    <a href="{{child.url}}" ng-click="changeContent($event)" ng-if="child.url != '#' && child.url.substr(0,4) != 'http'">{{child.title}}</a>
                    <a href="{{child.url}}" target="_blank" ng-if="child.url.substr(0,4) == 'http'">{{child.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<main>
  <h1 ng-show="!isHome">{{title}}</h1>
   <div ng-bind-html="content"></div>
   <section ng-if="isTreloloDotCom && isHome || cardID == 'qjwlxr7W'" id="transfer-url-to-trelolo">
     <label for="url-from-trello"><h3>貼上你的 Trello 看板網址<br>立刻轉成 Trelolo 網站 </h3></label>
      <input id="url-from-trello" type="text" placeholder="https://trello.com/b/XAL44x7M" ng-model="urlFromTrello" ng-change="doTransUrlToTrelolo()">
      
      <div ng-show="urlFromTrello">
          <button ng-click="doCopyText()">點這裡複製</button>&nbsp;&nbsp;<a href="{{urlToTrelolo}}" target="_blank">或是點此連結前往你的網站</a>
          <input class="url-to-trelolo" ng-model="urlToTrelolo">
      </div>
       
   </section>
    
</main>
<footer>
    Copyright © 2017 <a href="http://trelolo.com/">trelolo.com</a>
</footer>


<script src="/js/script.js"></script>

</body>
</html>